<main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Welcome to my Projects!</h1>
          <p>This is a web portfolio I desgined using ruby on rails, tested through CircleCI and deployed using Heroku. Other tools used in this project included Docker and GitHub.</p>
          <p><%= link_to 'New Project', new_project_path, class: "btn btn-success" %>
        </div>
      </div>

      <div class="container">
    <!-- Example row of columns -->
    <div class="row">
    <% @projects.each do |project| %>
      <div class="col-md-4">
        <h2><%= project.title %></h2>
        <p><%= project.description %></p>

        <%= link_to 'Show Details', project, class: "btn btn-success" %>

        <%= link_to 'Edit', edit_project_path(project), class: "btn btn-warning" %>

        <%= link_to 'Destroy', project, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>

      </div>
      <% end %>
    </div>

        <hr>

      </div> <!-- /container -->

    </main>







<p id="notice"><%= notice %></p>



<br>


